<div class="col-sm-12">
    <div class="card my-3">
        <div class="card-header p-2 small font-weight-bold">Recentes</div>
        <div class="card-body p-1">
            <?php for($i=0; $i<6; $i++): ?>
            <div class="col-md-2 m-0 p-1">
                <div class="card pt-0">
                    <img src="https://png.pngtree.com/png-vector/20190227/ourlarge/pngtree-vector-pdf-icon-png-image_708329.jpg" alt="" class="card-img-top" />
                    <div class="card-body py-2">
                        <h5 class="card-title mb-0">Formulário de Inscrição</h5>
                        <small>há 2 dias</small>
                    </div>
                </div>
            </div>
            <?php endfor; ?>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-header p-2 small font-weight-bold">Diretórios</div>
        <div class="card-body p-1">
            <?php for($i=0; $i<10; $i++): ?>
            <div class="col-lg-2 col-md-3 col-sm-4 p-2">
                <div class="card">
                    <div class="card-body p-2">
                        <div class="col-md-2 m-0 p-0">
                            <i class="h5 far fa-folder"></i>
                        </div>
                        <div class="col-md-10 m-0 p-1">
                            <h5 class="card-title mb-0">
                                Formulários de Inscrição para 2023
                            </h5>
                            <small style="font-size: 10px">há 2 dias</small>
                        </div>
                    </div>
                </div>
            </div>
            <?php endfor; ?>
        </div>
    </div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Compartilhados Comigo</a></li>
        <li class="breadcrumb-item"><a href="#">2020</a></li>
        <li class="breadcrumb-item active" aria-current="page">Formulários</li>
    </ol>
    <table class="table table-striped table-md small">
        <thead>
            <tr>
                <th class="text-center">-</th>
                <th>Nome</th>
                <th>Atualização</th>
                <th>Tamanho</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        <?php for($i=0; $i<15; $i++): ?>
            <tr>
                <td class="text-center">
                    <i class="far fa-file"></i>
                </td>
                <td>Formulário para Inscrição</td>
                <td>20/12/2019 08:15</td>
                <td>200 Kb</td>
                <td>
                    (dropdown)
                </td>
            </tr>
        <?php endfor; ?>
        </tbody>
    </table>
</div>