.navbar-brand{
    background-color: #eea228;
    /*margin-top: 4%;*/
    width: 100%;
}
.col-md-4, .col-sm-6{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url("../images/mae.jpg") ;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll;
}
.title, .title-dois{
    color: #F6F6F6;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 5%;
    font-size: 55px;
    font-weight: bold;
}
.title-dois{
    color: #F6F6F6;
    margin-top: -5px;
}
.subtitle, .subtitle-dois{
    color: #F6F6F6;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
.btn{
    color: #F6F6F6;
    margin-top: 8px;
}
.btn-outline-warning{
    margin-left: 5px;
}

.secao {
    position: relative;
}

/*label{*/
/*    !*color: #F6F6F6;*!*/
/*    font-family: 'Quicksand', sans-serif;*/
/*    font-weight: bold;*/
/*}*/
.menu{
    margin-top: -80px;
    margin-bottom: 30px;
}

.icone-scroll {
    position: absolute;
    bottom: 8em;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    cursor: pointer;
}
.scroll {
    width: 15px;
    height: 15px;
    border-right: 2px solid #eea228;
    border-bottom: 2px solid #eea228;
    display: inline-block;
    position: relative;
}
.scroll-next {
    transform: rotate(45deg);
    margin: 0 0 0 16.5px;
}

.scroll-next + .scroll-next {
    top: -15px;
    margin-top: 0;
}


/*.img-fluid{*/
/*    opacity: 0.3;*/
/*    transition: opacity 1s ease-in-out;*/
/*    margin-bottom: 1px;*/
/*    solid-color: #eb9d37;*/
/*}*/
/*{*/
/*    opacity: 2.0;*/
/*    transition: opacity .55s ease-in-out;*/
/*}*/