.js .anime {
	opacity: 0;
	transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: .3s all ease;
}

.box {
	width: 260px;
	height: 100px;
	border-radius: 5px;
	margin: 0 auto 20px auto;
}

.box p {
	padding-top: 100px;
	font-size: 24px;
	color: white;
	font-family: monaco;
}

#azul {
	background: #05ACED;
}

#verde {
	background: #8BC84C;
}

#roxo {
	background: #8844EE;
}

section {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}

#mouse {
	display: block;
	width: 22px;
	height: 40px;
	border-radius: 20px;
	border: 4px solid #8844EE;
	text-align: center;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 20px;
	margin: 0 auto;
}

#mouse::before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 8px;
	position: relative;
	border-radius: 4px;
	background: #8844EE;
	animation-name: mouse;
  animation-duration: .7s;
	animation-iteration-count: infinite;
}

@keyframes mouse {
	from {
		top: 0px;
	}
  to {
		top: 6px;
	}
}

h1 {
	font-size: 14px;
	font-family: monaco;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: #8844EE;
	margin-bottom: 40px;
}

footer {
	text-align: center;
	margin-bottom: 120px;
}

#origamid {
	font-family: monaco;
	text-decoration: none;
	color: #84E;
	display: inline-block;
}

#origamid::after, #origamid::before {
	content: '';
	display: block;
	background: #84E;
	width: 0;
	height: 2px;
	border-radius: 4px;
	margin: 6px auto 6px auto;
	transition: all .2s ease;
}

#origamid:hover::after, #origamid:hover::before {
	width: 100%;
}