html{
scroll-behavior: smooth;
}

.modal {
  text-align: center
  
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


#titleportifolio {
padding-top: 80px;
margin-bottom: 30px;
max-width: 750px;
padding: 20px;

text-align: center
}

.modal-backdrop {
z-index: 0;
width: auto;
}

.fade
{

opacity: 0.5;
}
.fade:hover
{
opacity:1;
}

.image-fade-in-out-container {
position: relative;
}

.image-fade-in-out {
opacity: 0.3;
transition: opacity 1s ease-in-out;
margin-bottom: 1px solid color #eb9d37;
}

.image-fade-in-out:hover {
opacity: 2.0;
transition: opacity .55s ease-in-out;
}

h3 { 
text-align: center;
font-family: 'Poppins', sans-serif;
color: white;
font-size: 48px;
line-height: 60px;
font-weight: 1000;
text-transform: capitalize;
}

.image-fade-in-out-mask {
position: absolute;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
display: flex;
justify-content: center;
align-items: center;
}
.imagem3{
transition: all 0.5s;
cursor: pointer;
}

.imagem3:hover{
-webkit-transform: scale(1.5);
transform: scale(1.5);
}



#headmom {
background-image: url(/imagens/mom2.jpg);
width: auto;
text-align: center;
height: 1000px;
background-size: cover;
background-attachment: fixed, scroll;
max-width: 100%


}
#phead{
  font-family: 'Poppins', sans-serif; font-size: 18px; line-height: 28px; color: #fff; padding: 5px; max-width: 900px; margin: 15px auto; text-align: center; width: 800; font-weight: 700
}


#containerUm {
padding-top: 30px;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
position: relative;
max-width: 1140px;
border-radius: 20px;
opacity: 0.9;

}
#headhead {
  margin: 150px auto; margin-top: 200px
}

.colorprimary {
color: #eb9d37
}

#color2 {
color: white;
}

div .backprimary {
background-color: #eb9d37;
}

div .containerprimary {
background-color: #eb9d37
}

.colorblack {
background-color: #0f0f15;


}

#portifolio {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-left: auto;
margin-left: auto;

height: 100%;

}


@media screen and (max-width: 500px) {
 
  #headhead {
    margin: 10px auto; margin-top: 10px
  };

  h3 { 
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
    
    font-weight: 700;
    text-transform: capitalize;
    };

    #headmom {
      background-image: url(/imagens/mom2.jpg);
      width: 100px;
      height: 800pxpx;
      background-size: cover;
      background-attachment: fixed, scroll;
      
      
      }

  };


